.card{
    border-radius: 20px;
    position: relative;
}

.card--image {
    border-radius: 20px;
    width: 265px;
}

.card--rating {
    display: flex;
}

.card--star {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    height: 15px;
}

#stars {
    margin-bottom: 0;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 15px;
}

#rating {
    margin-bottom: 0;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 15px;
    color: #918E9B;
}

#country {
    margin-bottom: 0;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 15px;
    color: #918E9B;
}

.card--title {
    margin: 0;
    margin-left: 12px;
    font-family: 'Poppins', sans-serif;
}

.card--price {
    margin-top: 5px;
    margin-left: 12px;
}

.card:hover {
    box-shadow: 0 0 10px skyblue;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
    border-radius: 20px;
}